<nav
  class="h-100 bg-cx-dark-blue border-end p-3 sidebar d-flex flex-column justify-content-between"
>
  <div class="accordion" id="accordionSidebar">
    <div class="d-flex justify-content-between align-items-end">
      <h1 class="cx-logo-sidebar text-primary">CX <span>Insights</span></h1>
      <p class="version mb-3">v.2.0.0</p>
    </div>
    <!-- Módulo SuperAdmin -->
    <p
      class="text-cx-light-grey text-truncate"
      data-bs-toggle="collapse"
      data-bs-target="#collapseSuperAdmin"
      role="button"
      aria-expanded="false"
      aria-controls="collapseSuperAdmin"
    >
      Módulo SuperAdmin
    </p>
    <div class="collapse" id="collapseSuperAdmin">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/users']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-users"></i>
            Usuarios
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/business']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-buildings"></i>
            Negocios
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/segments']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-target"></i>
            Segmentos
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-3 text-white" />

    <!-- Módulo Admin -->
    <p
      class="text-cx-light-grey text-truncate"
      data-bs-toggle="collapse"
      data-bs-target="#collapseAdmin"
      role="button"
      aria-expanded="false"
      aria-controls="collapseAdmin"
    >
      Módulo de Administración
    </p>
    <div class="collapse" id="collapseAdmin">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/billing']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-users"></i>
            Facturación
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/admin/agents']"
            [routerLinkActive]="'active'"
          >
            <span class="material-icons text-white fs-6"> support_agent </span>
            Personal operativo
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/admin/context-validation']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-checks"></i>
            Validación contextual
          </a>
        </li>
      </ul>
    </div>
    <hr class="my-3 text-white" />
    <!-- Módulo Auditor -->
    <p
      class="text-cx-light-grey text-truncate"
      data-bs-toggle="collapse"
      data-bs-target="#collapseAudit"
      role="button"
      aria-expanded="false"
      aria-controls="collapseAudit"
    >
      Módulo de Auditoría
    </p>
    <div class="collapse" id="collapseAudit">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/blueprints']"
            [routerLinkActive]="'active'"
          >
            <span class="material-icons text-white fs-6"> auto_fix_high </span>
            Configuración de blueprints
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/audit/blueprints']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-check-square-offset"></i>
            Auditoria
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center gap-2"
            [routerLink]="['/dashboard/audit/reportes']"
            [routerLinkActive]="'active'"
          >
            <i class="ph ph-clipboard-text"></i>
            Reportes
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-start">
    <p class="text-cx-light-grey version">Powered by</p>
    <img
      src="/svg/kognia-logo-hor-dark.svg"
      alt="Logo Kognia"
      width="120"
      class=""
    />
  </div>
</nav>
