<div class="">
  <div
    class="drop-zone border-1 rounded-3 p-4 text-center"
    [class.dragover]="isDragOver"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    <span class="material-icons md-36"> cloud_upload </span>
    <h5 class="mb-2">Arrastra tus audios aquí</h5>
    <p class="fs-sm text-secondary mb-1">o selecciona desde tu computadora.</p>
    <p class="fs-caption text-secondary">Tamaño máximo: 25MB.</p>
    <button
      class="btn btn-outline-secondary mx-auto"
      (click)="fileInput.click()"
    >
      Seleccionar archivos
    </button>
    <input
      #fileInput
      type="file"
      hidden
      multiple
      accept="audio/*"
      (change)="onFilesSelected($event)"
    />
  </div>
</div>
<div class="h-100">
  <!-- Listado de audios -->
  <ul class="list-group mt-4" *ngIf="audios.length > 0">
    <div
      *ngFor="let audio of audios; let i = index"
    >
    <list-tile-audio
      (onRemove)="removeAudio($event)"
      [file]="audio.file"
      [index]="i"
      [agents]="agents"
    ></list-tile-audio>
  </div>
  </ul>
</div>
