h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #ff39ef;
  font-size: 4rem;
  font-weight: 500;
  span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 3rem;
  }
}
