<div class="container-fluid">
  <div class="row vh-100">
    <!-- Left Container -->
    <div class="col-md-5">
      <div
        class="col col-lg-10 mx-auto d-flex flex-column justify-content-center align-items-center h-100 px-4"
      >
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="w-100 needs-validation"
        >
          <h3 class="form-title text-secondary">Iniciar sesión</h3>

          <email-input [control]="email!"></email-input>

          <password-input
            [control]="password!"
            [type]="showPassword ? 'text' : 'password'"
          ></password-input>

          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="togglePassword"
              (change)="showPassword = !showPassword"
              name="showPassword"
            />
            <label class="form-check-label" for="togglePassword">
              Mostrar contraseña
            </label>
          </div>

          <submit-button
            class="w-100 mb-3"
            [isLoading]="isLoading"
            [label]="'Ingresar'"
            [loadingText]="'Cargando...'"
          >
          </submit-button>

        </form>
        <a routerLink="/auth/reset-password" class="mt-3 text-secondary"
          >¿Olvidaste la contaseña?</a
        >
      </div>
    </div>
    <!-- Right Container -->
    <div class="col-md-7 right-container-decoration rounded-start-4">
      <div class="right-container w-100 h-100 d-flex flex-column">
        <img
          alt="Kognia Logo"
          src="svg/kognia-logo-hor-dark.svg"
          width="200"
          class="align-self-start m-4"
        />
        <div
          class="left-container__content w-100 align-self-center my-auto text-center text-white"
        >
          <cx-logo></cx-logo>
          <app-welcome-animated-text></app-welcome-animated-text>
        </div>
      </div>
    </div>
  </div>
</div>
