<div class="mb-3">
  <label for="password" class="form-label">{{ label }}</label>
  <input
    id="password"
    [type]="type"
    [formControl]="control"
    class="form-control"
    [class.is-invalid]="control.touched && control.invalid"
    [class.is-valid]="control.touched && control.valid"
    formControlName="password"
    placeholder="Ingresa tu contraseña"
    required
  />
  <div *ngIf="control.touched && control.invalid" class="invalid-feedback">
    <small *ngIf="control.errors?.['required']" class="text-danger"
      >* La contraseña es obligatoria</small
    >
    <small *ngIf="control.errors?.['minlength']" class="text-danger">
      * La contraseña es muy corta, mínimo
      {{ control.errors?.['minlength'].requiredLength }}
    </small>
  </div>
</div>
